<footer class="footer navbar navbar-inverse">
    <p class="text-center">@2016 Orgabat - Tous droits réservés</p>
    <section id="block-views-marques-block-accueil" class="block block-views clearfix">

        <h2 class="block-title">Nos
            <span class="last">marques</span>
        </h2>
        <div class="block-content">
            <div class="view view-marques view-id-marques view-display-id-block_accueil view-dom-id-95fd88b330772cfabb103385e3e53a3d">
                <div class="view-content">
                    <div class="views-row views-row-1 views-row-odd views-row-first">

                        <div class="views-field views-field-field-logo-nb">
                            <div class="field-content"><img typeof="foaf:Image" src="http://www.ets-jacqueline.com/sites/default/files/styles/bloc_marques/public/burstner.jpg?itok=YLMlp-_6" width="155" height="85" alt=""/></div>
                        </div>
                    </div>
                    <div class="views-row views-row-2 views-row-even">

                        <div class="views-field views-field-field-logo-nb">
                            <div class="field-content"><img typeof="foaf:Image" src="http://www.ets-jacqueline.com/sites/default/files/styles/bloc_marques/public/rapido.jpg?itok=qEv9srVc" width="210" height="85" alt=""/></div>
                        </div>
                    </div>
                    <div class="views-row views-row-3 views-row-odd">

                        <div class="views-field views-field-field-logo-nb">
                            <div class="field-content"><img typeof="foaf:Image" src="http://www.ets-jacqueline.com/sites/default/files/styles/bloc_marques/public/rollerteam_nb.jpg?itok=ZrdRJA0H" width="215" height="85" alt=""/></div>
                        </div>
                    </div>
                    <div class="views-row views-row-4 views-row-even">

                        <div class="views-field views-field-field-logo-nb">
                            <div class="field-content"><img typeof="foaf:Image" src="http://www.ets-jacqueline.com/sites/default/files/styles/bloc_marques/public/caravelair_nb.jpg?itok=HWOlAy9U" width="160" height="85" alt=""/></div>
                        </div>
                    </div>
                    <div class="views-row views-row-5 views-row-odd">

                        <div class="views-field views-field-field-logo-nb">
                            <div class="field-content"><img typeof="foaf:Image" src="http://www.ets-jacqueline.com/sites/default/files/styles/bloc_marques/public/topaccessoires_nb.jpg?itok=dedPFwdp" width="160" height="85" alt=""/></div>
                        </div>
                    </div>
                    <div class="views-row views-row-6 views-row-even">

                        <div class="views-field views-field-field-logo-nb">
                            <div class="field-content"><img typeof="foaf:Image" src="http://www.ets-jacqueline.com/sites/default/files/styles/bloc_marques/public/ci_nb.jpg?itok=SzKApPIx" width="155" height="85" alt=""/></div>
                        </div>
                    </div>
                    <div class="views-row views-row-7 views-row-odd">

                        <div class="views-field views-field-field-logo-nb">
                            <div class="field-content"><img typeof="foaf:Image" src="http://www.ets-jacqueline.com/sites/default/files/styles/bloc_marques/public/autostar_nb.jpg?itok=G3TvqcbY" width="270" height="85" alt=""/></div>
                        </div>
                    </div>
                    <div class="views-row views-row-8 views-row-even">

                        <div class="views-field views-field-field-logo-nb">
                            <div class="field-content"><img typeof="foaf:Image" src="http://www.ets-jacqueline.com/sites/default/files/styles/bloc_marques/public/mancelle_nb.jpg?itok=IRq8eqAB" width="150" height="85" alt=""/></div>
                        </div>
                    </div>
                    <div class="views-row views-row-9 views-row-odd">

                        <div class="views-field views-field-field-logo-nb">
                            <div class="field-content"><img typeof="foaf:Image" src="http://www.ets-jacqueline.com/sites/default/files/styles/bloc_marques/public/carado_nb.jpg?itok=txxO9CQ9" width="160" height="85" alt=""/></div>
                        </div>
                    </div>
                    <div class="views-row views-row-10 views-row-even">

                        <div class="views-field views-field-field-logo-nb">
                            <div class="field-content"><img typeof="foaf:Image" src="http://www.ets-jacqueline.com/sites/default/files/styles/bloc_marques/public/silver_nb.jpg?itok=1HZepfx-" width="160" height="85" alt=""/></div>
                        </div>
                    </div>
                    <div class="views-row views-row-11 views-row-odd">

                        <div class="views-field views-field-field-logo-nb">
                            <div class="field-content"><img typeof="foaf:Image" src="http://www.ets-jacqueline.com/sites/default/files/styles/bloc_marques/public/fleurette_nb.jpg?itok=9006Amds" width="270" height="85" alt=""/></div>
                        </div>
                    </div>
                    <div class="views-row views-row-12 views-row-even">

                        <div class="views-field views-field-field-logo-nb">
                            <div class="field-content"><img typeof="foaf:Image" src="http://www.ets-jacqueline.com/sites/default/files/styles/bloc_marques/public/florium_nb.jpg?itok=9pScvv0c" width="270" height="85" alt=""/></div>
                        </div>
                    </div>
                    <div class="views-row views-row-13 views-row-odd">

                        <div class="views-field views-field-field-logo-nb">
                            <div class="field-content"><img typeof="foaf:Image" src="http://www.ets-jacqueline.com/sites/default/files/styles/bloc_marques/public/hobby_nb.jpg?itok=v15ihyyC" width="215" height="85" alt=""/></div>
                        </div>
                    </div>
                    <div class="views-row views-row-14 views-row-even">

                        <div class="views-field views-field-field-logo-nb">
                            <div class="field-content"><img typeof="foaf:Image" src="http://www.ets-jacqueline.com/sites/default/files/styles/bloc_marques/public/hymer_nb.jpg?itok=16fcNQrc" width="270" height="85" alt=""/></div>
                        </div>
                    </div>
                    <div class="views-row views-row-15 views-row-odd">

                        <div class="views-field views-field-field-logo-nb">
                            <div class="field-content"><img typeof="foaf:Image" src="http://www.ets-jacqueline.com/sites/default/files/styles/bloc_marques/public/maclouis_nb.jpg?itok=KJFDUi3e" width="145" height="85" alt=""/></div>
                        </div>
                    </div>
                    <div class="views-row views-row-16 views-row-even">

                        <div class="views-field views-field-field-logo-nb">
                            <div class="field-content"><img typeof="foaf:Image" src="http://www.ets-jacqueline.com/sites/default/files/styles/bloc_marques/public/possl_nb.jpg?itok=Re8ANXU1" width="240" height="85" alt=""/></div>
                        </div>
                    </div>
                    <div class="views-row views-row-17 views-row-odd views-row-last">

                        <div class="views-field views-field-field-logo-nb">
                            <div class="field-content"><img typeof="foaf:Image" src="http://www.ets-jacqueline.com/sites/default/files/styles/bloc_marques/public/sterckeman_nb.jpg?itok=MJfGpCbg" width="270" height="85" alt=""/></div>
                        </div>
                    </div>
                </div>

            </div>
        </div>

    </section>
    <!-- /.block -->

</footer>
