{% extends 'base.html.twig' %}
{% block body %}
  <div id="wrapper">

        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li class="sidebar-brand">
                    <a href="#">
                        Orgabat
                    </a>
                </li>
                 <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">
                    <span class="pull-left"><span class="glyphicon glyphicon-th-list"></span></span>Liste<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">Etudiants</a></li>
                        </ul>
                </li>
                <li>
                    <a href="#"><span class="pull-left"><span class="glyphicon glyphicon-lock"></span></span>Changer mot de passe</a>
                </li>
                <li>
                    <a href="#"><span class="pull-left"><span class="glyphicon glyphicon-log-out"></span></span>Logout</a>
                </li>
            </ul>
        </div>
        <!-- /#sidebar-wrapper -->

        <!-- Page Content -->
        <div id="page-content-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <br><br><br><br>
                        <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin varius ac dui quis consectetur. Donec ultrices eros sit amet metus vulputate, sit amet interdum purus imperdiet. Ut facilisis vulputate elit, at scelerisque leo consectetur pharetra. Fusce at urna et quam lacinia luctus. Etiam tincidunt ornare nibh, non porta metus interdum eu. In consectetur in lacus a placerat. Sed tincidunt pulvinar malesuada. Integer at fermentum dolor. Duis mattis ex ac est auctor, feugiat efficitur ex placerat. Donec mi augue, condimentum vitae viverra at, fermentum ut nulla. Etiam ut justo turpis. Donec a lectus vestibulum, lacinia nisi vitae, commodo turpis. Nullam ante diam, vestibulum ut velit vel, pretium lobortis purus. Morbi aliquet sit amet justo at semper. </p>
                        <a href="#menu-toggle" class="btn btn-default" id="menu-toggle">Toggle Menu</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- /#page-content-wrapper -->

    </div>
    <!-- /#wrapper -->

      <!-- Menu Toggle Script -->


{% endblock %}
{% block javascripts %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
        {{ parent() }}
        <script>
     
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
    });
    </script>

{% endblock %}

