{% extends '::base_dashboard.html.twig' %} 


{% block body %} 
<a class="btn btn-default" href=  "#menu-toggle" id="menu-toggle">Toggle Menu</a> 
{% endblock %} 


{% block sidebar %} 
    <!-- Sidebar -->
    <div id="sidebar-wrapper">
        <ul class="sidebar-nav">
            <li class="sidebar-brand">
                <!-- /#Ajoute lien de la page d'acceuil -->
                 <a href="#">Orgabat</a>
            </li>
                <div class="list-group panel">
                    <a class="list-group-item" data-parent="#MainMenu" data-toggle="collapse" href=
                    "#adminList"><span class="glyphicon glyphicon-th-list"></span> Liste</a>
                    <div class="collapse" id="adminList">
                        <!-- /#Ajoute lien au methode lister formateurs -->
                         <a class="list-group-item" data-parent="#option" data-toggle="collapse"
                        href="#"><span class="glyphicon glyphicon-user"></span> Formateurs</a>
                    </div>
                </div>
                <div class="list-group panel">
                    <!-- /#Ajoute lien au methode changer mot de passe -->
                     <a class="list-group-item" href="#"><span class=
                    "glyphicon glyphicon-lock"></span> Changer mot de passe</a>
                </div>
                <div class="list-group panel">
                    <!-- /#Ajoute lien au logout -->
                     <a class="list-group-item" href="#"><span class=
                    "glyphicon glyphicon-log-out"></span> Logout</a>
                </div>
 
        </ul>
    </div><!-- /#sidebar-wrapper -->
{% endblock %}


    {% block javascripts %} 
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js">
    </script> {{ parent() }} 
    <script>
     
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
    });
    </script> 
    {% endblock %}