{% extends "base.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}
<h1 class="text-center">Réinitialiser le mot de passe</h1>
<p>{{ 'resetting.password_already_requested'|trans }}</p>
<p><a href="{{ path('default_rules') }}"><button class="btn btn-default"><i class="fa fa-chevron-left"></i> Retour</button></a></p>

{% endblock fos_user_content %}
