{% extends '::base.html.twig' %}
{% block body %}
    <div class="regles">
        <p><strong>Bienvenue sur ORGABAT, nous allons t'aider à mieux organiser ton poste de travail afin que tu sois plus efficace et que tu préserves durablement ta santé en sécurité.</strong><p>
        <p><strong>Ton responsable souhaite évaluer tes connaissances sur l'organisation de ton travail. Ton objectif est de résoudre les 8 situations pour obtenir des points afin d'augmenter les courves de puissance (santé, organisation, notoriété de l'entreprise).</strong><p>
        <p><strong>N'hésite pas à faire appel à GABATOR, il pourra t'aider à te poser les bonnes questions.</strong><p>
        <p><strong>Bonne chance à toi !</strong><p>
            <a href="{{ path('default_category') }}" class="btn btn-success" role="button">SUIVANT</a>
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
{% endblock %}
